.back {
    background-color: #d4d4d4;
    width: 100%;
    height: 400px;
    padding-top: 100px;

}

body, html {
    height: 100%;
    background-color: #ececec;
}

.left {
    padding: 11px;
    height: 200px;
    width: 748px;
    background-color: red;
    display: block;
    float: left;
}

.right {

    padding: 11px;
    height: 200px;
    width: 308px;
    background-color: blue;
    display: inline-block;

}

.center {
    width: 1100px;
    height: 222px;
    background-color: chartreuse;
    margin: auto;
}

.buy {
    width: 744px;
    height: 196px;

    background-color: white;
    border: 2px double black;
    border-radius: 20px;
}

.add {
    padding: 12px;
    height: 32px;
    width: 720px;
    border-bottom: 2px double black;
}

.write {
    width: 100%;
    height: 100%;
    padding-left: 10px;
}

input {
    width: 600px;
    height: 26px;
    border-width: 2px;
    padding: 1px;;
}

.addbutton {
    width: 100px;
    height: 32px;
    border: 2px double black;
}

.product {
    width: 744px;
    height: 44px;
    border-bottom: 2px double black;
}

.nazva {
    padding: 10px;
    display: inline-block;
    width: 100px;
    height: 24px;
    text-align: center;
    vertical-align: top;
}

.amount {
    padding-left: 200px;
    display: inline-block;
    width: 250px;
    height: 44px;
}

.number {
    margin-left: 7px;
    margin-right: 7px;
    text-align: center;
    padding: 5px 5px 0px 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: bottom;
}

.plus {
    display: inline-block;

    width: 30px;
    height: 30px;
}

.minus {

    width: 30px;
    height: 30px;
    display: inline-block;
}

.buybutton {
    display: inline-block;
    width: 154px;
}

.delete {
    width: 38px;
    height: 38px;
}

.bought {
    margin-right: 10px;
    width: 90px;
    height: 30px;
}

.nodownbord {
    border-bottom: 0;
}

.out {
    width: 304px;
    height: 196px;

    background-color: white;
    border: 2px double black;
    border-radius: 20px;
}

.textleft {
    font-size: 25px;
    padding: 15px;
    width: 274px;
    height: 30px;
    border-bottom: 2px double black;
}

.whatsleft {
    width: 304px;
    height: 60px;
    border-bottom: 2px double black;
}

.tomato {

    display: inline-block;
    width: 80px;
    height: 40px;
    padding: 4px 10px 10px 4px;

}

.cheese {
    display: inline-block;
}

.pech {
    display: inline-block;
}

.inner {
    width: 90px;
    height: 38px;
    border: 1px double black;
    border-radius: 10px;
}

.vertic {
    display: inline-block;
}

.red {
    border-radius: 10px;
    background-color: orange;
    width: 18px;
    text-align: center;

}


