.back {
    width: 100%;
    height: 400px;
    padding-top: 100px;

}

body, html {
    padding:0;
    margin:0;
    height: 100%;
    background-color: #c6c6c6;
}

.left {
    width: 64%;
    display: block;
    float: left;
    padding:2%;
}

.right {
    width: 28%;
    display: inline-block;
    padding:2%;
}

.center {
    max-width: 1100px;
    margin: auto;

}

.table-left{
    background:white;
    border-radius: 10px;
    border: 2px double black;
}


.table-right{
    background:white;
    border-radius: 10px;
    border: 2px double black;
}


.add{
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
    border-bottom: 2px double black;
    display:flex;
}

.clearfix::after	{
    visibility:	hidden;
    display:	block;
    content:	"";
    height:	0;
    clear:	both;
}

.text{
    height:30px;
    width:80%;
}

.addbutton{
    height:36px;
    width:19%;
}

.product{
    border-bottom:2px double black;
    align-items:center;
    display:flex;
    padding: 5px 15px;
    justify-content:space-between;
}

.product:last-child{
    border-bottom:0;
}



.nazva{
    flex-basis:100px;
    font-size:20px;
}

.amount{
    flex-basis:125px;
    justify-content:space-around;
    display:flex;
}

.deladd{
    border-radius:40px;
    height:36px;
    width:36px;
}

.number{
    align-self:center;
    background-color:blue;
    padding:5px 10px;
    text-align:center;
    self-align:center;

}

.buybutton{
    flex-basis:150px;
}

.bought{

    width:70%;
    height:36px;
}

.delete{
    height:36px;
    width:36px;
}

.textleft{
    padding:10px 5px;
    border-bottom:2px double black;
    font-size:20px;
}

.textleft:last-child{
    border-bottom:0;
}

.whatssold{
    height:20px;
}


.whatsleft{
    padding:10px 10px;
    display:flex;
    border-bottom:2px double black;
    flex-wrap:wrap;
}

.leftprod{
    background:#c6c6c6;
    border:2px double black;
    display:flex;
    margin-right:10px;
    margin-top:2px;
    font-size:15px;
    padding:5px;
    border-radius:5px;
}

.vertic{

}

.red{
    margin-left:2px;
    padding: 0 3px;
    border-radius:5px;
    background-color:yellow;

}








